<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
   	<body>

		<form action="/login/" method="post">
        <br> 
   			{% csrf_token %}

        {% if error %}
          {{error}} <br> <br>
        {% endif %}

   			<!-- post all errors -->
   			{% for error in form.non_field_errors %}
                   {{error}}
            {% endfor %}

            <!-- actual fields -->
            {% for field in form %}
				{{field.errors}}
            	{{field.label}} 
            	{{field}}
            	<br>
            	<br>
            {% endfor %}

			<!--submit button -->
			<button type="submit" name='submit' class="btn btn-info btn-lsm" id="id_login">Login</button>

		</form>
    <br>
		<!--if already have an account, can redirect to login-->
		<p> Need to create an account? <a href="/register/">Register</a></p>

   	</body>
{% endblock %}