{% extends 'base.html' %}

<!-- Context dictionary contains only 1 key
	Attributes are accessed like so below -->
{% block content %}
	{% if title %}
		<h1>{{title}}</h1>
		<p>{{date}}</p>
		<p>Description: {{description}}</p>
		<p>Price: {{price}}</p>
		<p>Location: {{location}}</p>
		<p>Submitted by: {{author}}</p>
	{% else %}
		No post found
	{% endif %}

  <!-- Recommendation stuff -->
  {% if tuples %}
    Recommendations:
    {% for tuple in tuples %}
      <br>
      <a href="{% url 'post_detail' tuple.1 %}">{{tuple.2}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}
